/* FONTS */
@font-face {
    font-family: "titilliumweb-black";
    src: url(../Assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: "titilliumweb-bold";
    src: url(../Assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gamer Project */

.gamer-project h1 {
    text-align: center;
}

.gamer-project table {
    width: 335px;
    height: 503px;
    margin: 20px auto 0;
}

.gamer-project table th {
    text-align: start;
    font-family: "titilliumweb-black";
    font-size: 20px;
    color: #F9AA01;
}

.gamer-project table tbody td {
    font-family: "titilliumweb-bold";
    font-size: 18px;
}

/* Group Table */

.group-table h2 {
    text-align: center;
}

.group-table table {
    width: 50%;
    margin: 20px auto 0;
    border: 1px solid black;
}

.group-table table th {
    border: 1px solid red;
    text-align: center;
}

.group-table table tbody td{
    border-right: 2px solid green;
}

.group-table table tbody td:last-of-type {
    border: none;
}

/* Table */
main .cadastro-equipes table {
    width: 335px;
}

/* tbody */
main .cadastro-equipes thead,
main .cadastro-equipes tbody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

/* linha do cabeçalho da tabela */
main .cadastro-equipes thead tr {
    margin-bottom: 30px;
    border-bottom: 3px solid #F9AA01;
}

/* linha do cabeçalho */
main .cadastro-equipes table thead th {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 50px;
    color: #F9AA01;
    font-family: TitilliumWeb-Black;
    font-size: 20px;
    text-transform: uppercase;

}

/* linhas da tabela, independentemente do cabeçalho ou corpo */
main .cadastro-equipes table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .cadastro-equipes table tbody tr {
    height: 125px;
    
    margin-bottom: 24px;

    border: 2px solid transparent;
    border-radius: 8px;

    background: linear-gradient(91.42deg, rgba(27, 20, 38, 0.6) 0%, rgba(60, 3, 65, 0.38) 100%);
    backdrop-filter: blur(4px);

    /* linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box; */
}

main .cadastro-equipes table td {
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid #F9AA01;
}

main .cadastro-equipes .id-td {
    font-family: "titilliumweb-bold";
    font-size: 18px;
    color: white;
}

main .cadastro-equipes .name-td {
    font-family: "titilliumweb-bold";
    font-size: 18px;
    color: white;
}

main .cadastro-equipes table td:last-of-type {
    border: none;
}

main .cadastro-equipes table td img.green-play {
    width: 25px;
}

main .cadastro-equipes table td img.yellow-trash {
    width: 15px;
}